<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de la Colección</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Datos de la Colección</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <!-- Agregar más columnas según tu estructura de datos -->
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item._id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <!-- Agregar más columnas según tu estructura de datos -->
        </tr>
        {% endfor %}
    </table>
    <br>
    <!-- Botón para ir a la página de show_collection -->
    <a href="/">
        <button>ir inicion</button>
    </a>
</body>
</html>
