<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenido a mi aplicación Flask</h1>
    <p>Esta es una página de inicio simple.</p>
    <br>
    <h2>Esta página simple se volverá un CRUD.</h2>
    <br>

     <!-- Botón para ir a la página de show_collection -->
     <a href="/show_data">
        <button>Ver Colección</button>
    </a>
    <br><br>
     <!-- Botón para ir a la página de crear usuario -->
     <a href="/create_user_page">
        <button>Crear usuario</button>
    </a>
    <br>


    <!-- Agregar botón de Cerrar sesión -->
    <form action="/logout" method="post">
        <input type="submit" value="Cerrar sesión">
    </form>    
</body>
</html>
